@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


body {
	margin: 0;
	line-height: normal;
	background-color: #e9f0f7;
}

/* video do homem */
.video {
	filter: brightness(.55);
	object-fit: cover;
	min-width: 100%;
	max-width: 100%;
	z-index: -1;
}

/* NAV BAR DO SITE */
.nav-bar {
	width: 40%;
	position: relative;
	border-radius: 15px;
	display: flex;
	align-items: center;
	justify-content: center;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
	background-color: rgba(221, 221, 221, 0.5);
	/* Add background color */
	position: fixed;
	/* Make it stick to top */
	top: 10px;
	left: 30%;
	z-index: 1000;
	/* Ensure it's above other elements */
}


.lista-home-nav {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 35px;
	padding: 10px 15px;
	border-radius: 30px;
}


.text {
	line-height: 20px;
	font-weight: 700;
	color: #000000;
	font-size: 16.5px;
	text-decoration: none;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	transition: color 0.3s ease;
	z-index: 1000;
}

.text:hover {
	color: #ffffff;
}


.container-81 {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	padding: 1.5px 0px;
	margin: auto;
}

/* logo do site */
.logo {
	position: absolute;
	left: -400px;
	display: flex;
	align-items: center;
	width: 100%;
	height: 100%;
}


#lg-text {
	position: relative;
	left: 10px;
	font-size: 21px;
	font-weight: bold;
	color: #000000;
	background-color: rgba(133, 133, 133, 0.137);
}

#lg-text2 {
	position: relative;
	left: 11px;
	font-size: 21px;
	font-weight: bold;
	color: #83C7FF;
	background-color: transparent;
	transition: background-color 0.3s ease;
}

/* TITULO SITE */
.titulo {
	width: 1123px;
	position: absolute;
	margin: 0;
	top: 260px;
	left: 403.46px;
	font-size: 48px;
	line-height: 40px;
	font-weight: 500;
	font-family: Poppins;
	color: #fff;
	text-align: left;
	display: inline-block;
}

/* FORMULARIO SITE */
.formulario {
	position: absolute;
	top: 60%;
	left: 10%;
	width: 90%;
	height: 80px;
	color: #000000;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 10;
	box-sizing: border-box;
	padding: 0 50px;
}

select {
	color: #ffffff;
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;

}

select:focus {
	outline: none;
	background-color: rgba(0, 0, 0, 0.548)
}


.valor-max {
	position: relative;
	left: 8%;
	top: -55%;
	font-size: 1.7rcap;
	color: #e2e2e2;
	font-family: "Poppins", sans-serif;
}

.valor-max2 {
	background-color: rgba(247, 247, 247, 0.26);
	border: 1px solid #ffffff;
	padding: 12px 55px;
	border-radius: 7px;
	height: 55px;
	font-size: 20px;
}


.tipo-de-imoveis {
	position: relative;
	left: 4%;
	top: -55%;
	font-size: 1.6rcap;
	color: #e2e2e2;
	font-family: "Poppins", sans-serif;
}

.tipo-de-imoveis2 {
	background-color: rgba(247, 247, 247, 0.17);
	border: 1px solid #ffffff;
	padding: 12px 50px;
	border-radius: 7px;
	height: 55px;
	font-size: 20px;
	position: relative;
	left: -4.5%;
}

.onde-desejar-morar {
	position: relative;
	left: 0.5%;
	top: -55%;
	font-size: 1.7rcap;
	color: #e2e2e2;
	font-family: "Poppins", sans-serif;
}


.onde-desejar-morar2 {
	background-color: rgba(255, 255, 255, 0.17);
	border: 1px solid #ffffff;
	padding: 12px 50px;
	border-radius: 7px;
	height: 55px;
	font-size: 20px;
	position: relative;
	left: -11.5%;
}


.preferencia {
	position: relative;
	left: -8.6%;
	top: -55%;
	
	color: #e2e2e2;
	font-family: "Poppins", sans-serif;
}

.preferencia1 {
	background-color: rgba(255, 255, 255, 0.17);
	border: 1px solid #ffffff;
	padding: 12px 50px;
	border-radius: 7px;
	height: 55px;
	font-size: 20px;
	position: relative;
	left: -14.5%;
}


.button1 {
	background-color: royalblue;
	color: #ffffff;
	border: 1px solid #ffffff;
	padding: 18px 35px;
	font-size: 16px;
	font-weight: bold;
	border-radius: 7px;
	margin: 10px 10px;
	position: relative;
	left: -11%;
}

/* titulo categoria */
#titulo {
	text-align: center;
	font-family: unset;
	text-shadow: 2px 4px 4px #0000002d;
	font-weight: 500;
}

#linha {
	border: 2.5px solid #83C7FF;
	width: 50px;
	margin: auto;
}


/* CARD */
.card-section {
	border-radius: 8px;
	width: 320px;
	min-height: 160px;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 20px;
	position: relative;
	flex-direction: row;
	margin: 0 auto;
	padding-top: 35px;
}

.card {
	position: relative;
	display: inline-block;
}

.titulo-card {
	position: absolute;
	top: 35%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 2;
	color: #ffffff;
	font-size: 1.9em;
	font-family: sans-serif;
	font-weight: 300;
	text-align: center;
	width: 90%;
	pointer-events: none;
}



.ctgria-img {
	opacity: 1;
	filter: brightness(0.7);
	width: 286px;
	height: 175px;
	box-shadow: #0000005b 0px 3px 10px 0px;
	border-radius: 7px;
}

.propaganda {
	padding: 200px 0px 70px 355px;
}

.titulo2 {
	text-align: center;
	font-size: 2.7em;
	padding-bottom: 100px;
	font-weight: 500;
}

#linha2 {
	border: 2.5px solid #83C7FF;
	width: 50px;
	margin: auto;
}



/* Nossos Imóveis Section */
.cards-slider-wrapper {
	position: relative;
	max-width: 80%;
	/* Define a largura visível do carrossel */
	margin: 0 auto;
	/* Centraliza o carrossel */
	overflow: hidden;
	/* Oculta os cards fora da área visível */
}

.cards-slider {
	display: flex;
	gap: 30px;
	/* Espaçamento entre os cards */
	transition: transform 0.5s ease;
	/* Animação suave ao deslizar */
	padding-top: 40px;
}

.property-card {
	flex: 0 0 calc((55% - 35px) / 3);
	/* Exibe 3 cards visíveis */
	max-width: calc((55% - 35px) / 3);
	border-radius: 5px;
	overflow: hidden;
	box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
	background-color: white;
	transition: transform 0.3s ease, box-shadow 0.3s ease;
}


.property-card:hover {
	transform: translateY(-5px);
	box-shadow: 0 8px 25px rgba(0, 0, 0, 0.15);
}

.property-image {
	height: 150px;
	overflow: hidden;
	display: flex;
}

.property-card img {
	width: 100%;
	height: auto;
	object-fit: cover;
}

.property-card:hover .property-image img {
	transform: scale(1.05);
}

.property-info {
	padding: 18px;
}

.property-info h3 {
	font-size: 18px;
	font-weight: 600;
	margin-bottom: 15px;
	color: #333;
}

.property-details {
	display: flex;
	justify-content: space-between;
	margin-bottom: 15px;
	font-size: 16px;
}


.property-price {
	font-weight: 700;
	color: #559e63;
}

.property-size {
	color: #777;
}

.property-features {
	display: flex;
	gap: 20px;
	border-top: 1px solid #eee;
	padding-top: 15px;
}


#Butao {
	background-color: #333;
	color: #fff;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

.feature {
	display: flex;
	align-items: center;
	gap: 5px;
	color: #666;
}

.feature-icon {
	font-style: normal;
	font-size: 16px;
}

.slider-nav {
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background-color: #333;
	color: white;
	border: none;
	cursor: pointer;
	z-index: 100;
	;
	margin-top: 10px;
	margin-left: 10px;
}

.slider-nav:hover {
	background-color: #007acc;
}

.prev-btn {
	left: 10px;
}

.next-btn {
	right: 20px;
}

.bloco {
	background-color: #272727;
	height: 700px;
	margin-top: 100px;
	box-sizing: border-box;
	margin-bottom: 0;
	padding-bottom: 0;
}

.titulo-b {
	color: white;
	text-align: center;
	padding-top: 50px;
	font-weight: 100;
}

.linha-titulo-b {
	border: 2.5px solid #008cff;
	width: 50px;
	margin: 25px auto 30px auto;
	position: relative;
	z-index: 2;
}

.paragrafos {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 20px;
	color: #88b0e4;
	padding: 22px;
	text-align: center;
	margin: 0 auto;
}

.paragrafos p {
	cursor: pointer;
	text-decoration: underline;
	font-family: "Poppins", sans-serif;
	font-size: 15px;
}

.paragrafos p:hover {
	color: #e9f1f8;
	text-decoration: underline;
}

.footer-section {
	display: flex;
	justify-content: flex-end;
	gap: 40px;
	padding: 20px;
	margin-top: 0;
	background-color: #3C4453;
	color: #ffffff;
}

.footer-section>div {
	flex: 1;
	min-width: 200px;
}

.footer-section h2 {
	margin-bottom: 15px;
	font-size: 30px;
	font-family: "Poppins", sans-serif;
	font-weight: 400;
	font-style: normal;
}

.footer-section p {
	margin: 8px 0;
	line-height: 1.6;
	font-size: 12px;
	font-weight: 500;
	cursor: pointer;
	transition: color 0.3s ease;
	font-family: "Poppins", sans-serif;
	padding: 5px;
}

.footer-section p:hover {
	color: #83C7FF;
}

footer {
	margin-top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: #3C4453;
	padding: 20px;
	text-align: center;
	font-size: 14px;
	color: #ffffff;
}